@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rye&display=swap');

body {
    /* background-image: url(./assets/brown-table.jpg); */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); 
    background-size: auto;
    background-repeat: no-repeat;
    color: black;
    padding: 2%;
    height: 100vh;
    font-family: 'Poppins';
    text-align: center;

}

.header {
    padding-top: 1%;
    font-family: 'Rye';
}
.query-text {
    border-radius: 12px;
    border: 3px solid rgba(169, 169, 169, 0.075);
    font-size: 16px;
    font-family: 'Poppins';
    margin-top: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.submit-button {
    border-radius: 12px;
    padding: 1%;
    font-family: 'Poppins';
    background: rgb(117, 34, 117);
    color: rgb(0, 0, 0);
    border: none;
    padding: 0;
    outline-offset: 4px;
    margin-top: 2%;
}

.front {
    will-change: transform;
    transition: transform 70ms;
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background-color: rgb(126, 57, 126);
    transform: translateY(-6px);
}

.submit-button:hover .front {
    transform: translateY(-6px);
}

.submit-button:active .front {
    transform: translateY(-2px);
}

.landing-fade-out {
    opacity: 0;
    transition: .25s;
    transform: translateY(-10px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.25s, display  0.25;
    visibility: hidden;
}

.landing-remove {
    display: none;
}

.tarot-back {
    padding: 1%;
    animation: fade-in 1s;
    animation-iteration-count: initial;
    transition: all .2s ease-in-out;
    cursor: pointer;
    height: 75%;
    box-shadow: none;
}

.tarot-back:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgb(255, 231, 98);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tarot-front {
    max-width: 70%;
    object-fit: contain;
    cursor: pointer;
}

.past-card {
    width: 90%;
    margin: 1%;
    
}

.present-card {
    width: 90%;
    margin: 1%;
}

.future-card {
    margin: 1%;
    width: 90%;
}

.flip-container {
/*     display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    perspective: 1000px;
}

.background {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    height: 85vh;
    box-shadow: 0 0 10px 5px;

}

.description-modal::backdrop {
    background: rgb(0 0 0 / .8);

}

.description-modal {
    color: white;
    background-color: transparent;
    font-size: 1.5em;
    border: none;
    outline: none;
    margin-right: 20%;
    margin-left: 20%;
    text-align: left;
}

.close-button {
    width: 12.5em;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

.close-button-container {
    position: fixed;
    bottom: 15%;
    left: 50%;
    right: 50%;
    cursor: pointer;
}

.close-icon {
    cursor: pointer;
}

.card-title {
    font-size: 2.0em;
    text-align: center;
    color: gold;
    display: inline-block;
}

.begin-reading-button {
    border-radius: 12px;
    padding: 1%;
    font-family: 'Poppins';
    background: rgb(117, 34, 117);
    color: rgb(0, 0, 0);
    border: none;
    padding: 0;
    outline-offset: 4px;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(255, 231, 98);
}

.begin-reading-button:active .front {
    transform: translateY(2px);
}

.begin-reading-button:hover {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.reading-container {
    display: grid;
    grid-template-columns: 20% 60%;
    justify-content: left;
    grid-gap: 1%;
}

.reading-card-view {
    height: 20vh;
}

.commune-button {
    border-radius: 12px;
    padding: 1%;
    font-family: 'Poppins';
    background: rgb(117, 34, 117);
    color: rgb(0, 0, 0);
    border: none;
    padding: 0;
    outline-offset: 4px;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(255, 231, 98);
}

.commune-button:hover {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.commune-button:active .front {
    transform: translateY(2px);
}

.commune-button-container {
    justify-self: center;
    align-self: center;
    font-weight: 700;
    background-color: lightblue;
    border-radius: 20px;
}

.home-button {
    display: flex;
    justify-content: left;
    border-radius: 12px;
    padding: 1%;
    font-family: 'Poppins';
    background: rgb(117, 34, 34);
    color: rgb(0, 0, 0);
    border: none;
    padding: 0;
    outline-offset: 4px;
    margin-top: 2%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(255, 98, 98);
}

.home-button-front {
    will-change: transform;
    transition: transform 70ms;
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background-color: rgba(196, 77, 77, 0.493);
    transform: translateY(-6px);
}

.home-button-front:hover {
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}